﻿@using MVC.Controllers
@model MVC.ViewModels.MultiplesDisplayViewModel


<div class="row">
    <br />
    <br />

    @{ Html.BeginForm(nameof(HomeController.GetMultiples), "Home"); }

    Select an EventType to analyze: 

    @Html.DropDownList("EventType", Model.EventTypes)

    <br />
    <br />

    <input type="submit" id="submit" name="submit" alt="Submit" value="Analyze" class="btn btn-success">

    @{ Html.EndForm(); }

</div>