﻿@model MVC.ViewModels.MultiplesOutputViewModel


<div class="row">
    <br />
    <br />
    Here's what @Model.EventType  looks like:
    <br />

    @foreach (var m in Model.Multiples)
    {
       @:Input = @m.Item1, Output= @m.Item2
        <br />


    }

</div>